/* .login-container {
    background-color: #181f1f;
    background-position: center;
    min-height: 100vh;
}

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 18rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 250px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 10%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.toggle-btn {
    display: none;
}

.custom-nav {
    -webkit-box-shadow: 0 8px 6px -6px rgb(63, 63, 63);
    -moz-box-shadow: 0 8px 6px -6px rgb(63, 63, 63);
    box-shadow: 0 8px 6px -6px rgb(63, 63, 63);
}

.text-on-dark {
    color: #f3f3f3;
}

#prevlige-table-row {
    background-color: transparent;
} */

.table-buttons {
    margin-left: -20px;
}

@media only screen and (max-width: 992px) {
    .logout-btn {
        margin-right: 10px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .logout-btn {
        margin-right: 30px;
        margin-top: 5px;
    }
}

.cardHeaderForChart {
    height: 70px;
}

.cardBodyForChart {
    height: 70px;
}